version: '3.9'

services:
  db:
    image: postgres:14-alpine
    container_name: interact_postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend_network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: interact_backend:latest
    container_name: interact_backend
    expose:
      - "8000"
    env_file: .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./entrypoint.sh:/app/entrypoint.sh
    depends_on:
      db:
        condition: service_healthy
    restart: always
    entrypoint: ["/app/entrypoint.sh"]
    networks:
      - backend_network

  nginx:
    image: nginx:latest
    container_name: interact_nginx
    ports:
      - "80:80"
      - "443:443"
    networks:
      - backend_network
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - /etc/letsencrypt:/etc/letsencrypt:ro   # <-- сертификаты
    depends_on:
      - backend
    restart: always

  telegram_bot:
    build:
      context: .
      dockerfile: ./telegram_bot/Dockerfile
    image: interact_telegram_bot:latest
    container_name: interact_telegram_bot
    env_file: .env
    depends_on:
      - backend
    restart: always
    networks:
      - backend_network

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  backend_network:
    driver: bridge
