version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    restart: always

  telegram_bot:
    build:
      context: ./telegram_bot
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: always

volumes:
  static_volume:
  media_volume:
