services:
  db:
    image: postgres:14-alpine
    container_name: interact_postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: interact_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./entrypoint.sh:/app/entrypoint.sh
    depends_on:
      db:
        condition: service_healthy
    restart: always
    entrypoint: ["/app/entrypoint.sh"] 

  telegram_bot:
    build:
      context: .  # ИСПРАВЛЕНО: Теперь бот видит requirements.txt в корне
      dockerfile: ./telegram_bot/Dockerfile # ИСПРАВЛЕНО: Путь к Dockerfile бота
    container_name: interact_telegram_bot
    env_file:
      - .env
    depends_on:
      - backend 
    restart: always

volumes:
  postgres_data:
  static_volume:
  media_volume: